In [3]:
import aesa_pbs
from project_path import ROOT_DIR

In [4]:
import brightway2 as bw
import os

In [5]:
aesa_pbs.__version__

'0.9.0.dev+premise.aesa'

## tests

In [4]:
TRIAL_XLSX_PATH = Path(ROOT_DIR + r"/data/temp/trial.xlsx")
TRIAL_YAML_PATH = Path(ROOT_DIR + r"/data/temp/trial.yaml")
OUT_XLSX_PATH = Path(ROOT_DIR + r"/data/temp/out.xlsx")
OUT_YAML_PATH = Path(ROOT_DIR + r"/data/temp/out.yaml")

In [6]:
# converter = aesa_pbs.DataConverter(TRIAL_XLSX_PATH)
converter = aesa_pbs.DataConverter(TRIAL_YAML_PATH)

WARNING: Some data is missing (or invalid) in trial.yaml (see below incomplete sets):
+--------------------------------------------+-------------+--------+
| name                                       | categories  | amount |
+--------------------------------------------+-------------+--------+
| Carbon dioxide, from soil or biomass stock | air::indoor | nan    |
|                                            | nan         | nan    |
+--------------------------------------------+-------------+--------+
Note: These sets will be omitted.

WARNING: Duplicated flows found in trial.yaml (see below):
+------------------------+----------------------------------------+----------+
| name                   | categories                             | amount   |
+------------------------+----------------------------------------+----------+
| Carbon dioxide, fossil | air                                    | 3.53e-13 |
| Carbon dioxide, fossil | air::low population density, long-term | 3.53e-13 |
+------------------------+----------------------------------------+----------+
Note: All duplicates will be removed.

In [8]:
converter.to_excel(OUT_XLSX_PATH)

File created in C:\Users\vtulus\Documents\00-ETH_projects\AESAmethods\data\temp\out.xlsx

In [8]:
# Create a "test" project or activate it

if not [proj[0] for proj in bw.projects.report() if proj[0]=="test"]:
    bw.projects.set_current("default")
    bw.projects.copy_project("test", switch=True)
    
    # delete extra dbs
    del bw.databases['ei35apos']
    del bw.databases['ei38apos']
else:
    bw.projects.set_current("test")
print(f"Databases in '{bw.projects.current}' project: {bw.databases.list}")
    
    
# Delete "test" project
# bw.projects.set_current("default")
# bw.projects.delete_project(name="test", delete_dir=True)

# Delete database
# del bw.databases['A_technosphere_flows']

Databases in 'test' project: ['biosphere3', 'ei35cutoff', 'ei38cutoff']

In [10]:
list_aesa_methods = [m for m in bw.methods if "aesa" in str(m).lower()]

# If you need to delete some previously installed methods, 
# first locate the methods and delete manually
locate_methods =False
# then deregister methods (delete from bw)
delete_methods = False
# 1. Find locations of the methods to delete.
# 2. Delete manually the .pickle and .npy files
# 3. Deregister methods

if locate_methods:
    for method in list_aesa_methods:
        my_method = bw.Method(method)
        print(my_method)
        # Intermediate pickle, what gets loaded by my_method.load()
        print("   ", os.path.join(bw.projects.dir, "intermediate", my_method.filename + ".pickle"))
        # Processed array, used in calculations
        print("   ", my_method.filepath_processed())
        print("\n")
if delete_methods:    
    for method in list_aesa_methods:
        bw.Method(method).deregister()

In [11]:
# Install AESA methods if they dont exist
if not list_aesa_methods:
    aesa_pbs.add_aesa_pbs()

WARNING: Duplicated flows found in aesa_BiogeochemicalFlows_P.yaml (see below):
+------------+----------------------+----------+
| name       | categories           | amount   |
+------------+----------------------+----------+
| Phosphorus | water::surface water | 8.61e-10 |
+------------+----------------------+----------+
Note: All duplicates will be removed.

Writing activities to SQLite3 database:

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'climate change', 'atmospheric CO2 concentration')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.10 seconds
Wrote 1 LCIA methods with 42 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'biogeochemical flows', 'nitrogen', 'directly fixated')
+------------------------------------------------------------+
| Warning                                                    |
+------------------------------------------------------------+
| The method for quantification of directly fixated nitrogen |
| requires an additional database `A_technosphere_flows`.    |
| This database was not found in the current project.        |
| It will be generated now.                                  |
|                                                            |
| Next steps:                                                |
| 1. Use `aesa_pbs.get_nitrogenous_fertilizers()` to filter  |
|    activities producing nitrogenous fertilizers in a       |
|    specific background database.                           |
| 2. Use `aesa_pbs.update_nitrogen_fertilizer_exchanges()`   |
|    to modify those activities.                             |
|                                                            |
| Optionally,                                                |
| modified activities can be cleaned with                    |
|    `aesa_pbs.remove_nitrogen_fertilizer_exchanges()`.      |
+------------------------------------------------------------+

0% [#] 100% | ETA: 00:00:01
Total time elapsed: 00:00:00

Title: Writing activities to SQLite3 database:
  Started: 07/25/2022 12:20:19
  Finished: 07/25/2022 12:20:19
  Total time elapsed: 00:00:00
  CPU %: 0.00
  Memory %: 1.24
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applying strategy: link_iterable_by_fields
Applied 10 strategies in 0.08 seconds
Wrote 1 LCIA methods with 1 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'change in biosphere integrity', 'functional diversity', 'CO2eq emissions')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.10 seconds
Wrote 1 LCIA methods with 188 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'change in biosphere integrity', 'functional diversity', 'total')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.09 seconds
Wrote 1 LCIA methods with 226 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'change in biosphere integrity', 'functional diversity', 'direct land use')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.15 seconds
Wrote 1 LCIA methods with 38 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'climate change', 'energy imbalance at top-of-atmosphere')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.10 seconds
Wrote 1 LCIA methods with 98 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'land-system change', 'global')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.10 seconds
Wrote 1 LCIA methods with 10 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'biogeochemical flows', 'phosphorus')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.14 seconds
Wrote 1 LCIA methods with 2 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'freshwater use', 'global')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.09 seconds
Wrote 1 LCIA methods with 15 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'ozone depletion', 'stratospheric O3 concentration')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.11 seconds
Wrote 1 LCIA methods with 75 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'biogeochemical flows', 'nitrogen', 'inverse modelling, surface water')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.15 seconds
Wrote 1 LCIA methods with 2 characterization factors

Adding ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.4', 'ocean acidification', 'carbonate ion concentration')
Applying strategy: csv_restore_tuples
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: set_biosphere_type
Applying strategy: drop_unspecified_subcategories
Applying strategy: link_iterable_by_fields
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: drop_empty_lines
Applied 9 strategies in 0.10 seconds
Wrote 1 LCIA methods with 42 characterization factors

In [11]:
[m for m in bw.methods if "aesa" in str(m).lower()]

[('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'change in biosphere integrity',
  'functional diversity',
  'total'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'climate change',
  'energy imbalance at top-of-atmosphere'),
 ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.2', 'land-system change', 'global'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'biogeochemical flows',
  'nitrogen',
  'directly fixated'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'change in biosphere integrity',
  'functional diversity',
  'CO2eq emissions'),
 ('AESA (PBs-LCIA)', '0.8.8+xlsxtoyaml.8.2', 'freshwater use', 'global'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'change in biosphere integrity',
  'functional diversity',
  'direct land use'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'climate change',
  'atmospheric CO2 concentration'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'biogeochemical flows',
  'nitrogen',
  'inverse modelling, surface water'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'ozone depletion',
  'stratospheric O3 concentration'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'ocean acidification',
  'carbonate ion concentration'),
 ('AESA (PBs-LCIA)',
  '0.8.8+xlsxtoyaml.8.2',
  'biogeochemical flows',
  'phosphorus')]

### install aesa_pbs with pip

import os
os.environ["PROJ_LIB"]=r"C:\Users\vtulus\VirtualEnvs\bw2\Library\share\proj"

In [20]:
from project_path import ROOT_DIR

In [2]:
%%capture
# supress output with %%capture
# change directory
%cd {ROOT_DIR}

In [3]:
# %pip uninstall -y aesa_pbs

In [4]:
# %%capture
# %conda env list
# %conda list
# %dhist
# %pip install . --use-feature=in-tree-build
%pip install .

Processing c:\users\vtulus\documents\00-eth_projects\aesamethods
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: aesa-pbs
  Building wheel for aesa-pbs (pyproject.toml): started
  Building wheel for aesa-pbs (pyproject.toml): finished with status 'done'
  Created wheel for aesa-pbs: filename=aesa_pbs-0.8.8+xlsxtoyaml.9-py3-none-any.whl size=29805 sha256=95f892399ee05e4fab484252f82ccdd3557e80cffcb5b1426454c7ed46ec8abe
  Stored in directory: C:\Users\vtulus\AppData\Local\Temp\pip-ephem-wheel-cache-mecnu2ry\wheels\10\fa\a5\382ef7031366baa9086692b52163d123e54538a0a08b665688
Successfully built aesa-pbs
Installing collected packages: aesa-pbs
  Attempting uninstall: aesa-pbs
    Found existing installation: aesa-pbs 0.8.8+xlsxtoyaml.9
    Uninstalling aesa-pbs-0.8.8+xlsxtoyaml.9:
      Successfully uninstalled aesa-pbs-0.8.8+xlsxtoyaml.9
Successfully installed aesa-pbs-0.8.8+xlsxtoyaml.9
Note: you may need to restart the kernel to use updated packages.

In [5]:
# %conda list

In [1]:
import aesa_pbs
aesa_pbs.__version__

'0.8.8+xlsxtoyaml.9'

## playground

In [1]:
import pandas as pd
import numpy as np
import logging

In [24]:
filename = "dummy.xlsx"

# with good data
data_good = pd.DataFrame(
    np.array(
        [
            ("Carbon dioxide, fossil", "air", "tt3.53e-13"),
            ("Ethane, chloropentafluoro-, CFC-115", "air", 7.43e-09),
            ("Carbon monoxide, fossil", "air", 2.74e-13),
            (
                "Carbon monoxide, fossil",
                "air::low population density, long-term",
                2.74e-13,
            ),
            ("Carbon monoxide, non-fossil", "air", 2.74e-13),
            ("Methane", "air::urban air close to ground", 1.59e-12),
        ]
    ),
    columns=["name", "categories", "amount"],
)

# with duplicates
data_with_duplicates = data_good.copy(deep=True)
data_with_duplicates.iloc[1] = data_with_duplicates.iloc[2]
data_with_duplicates.iloc[5] = data_with_duplicates.iloc[4]

# with all NaN
data_with_all_nan = pd.DataFrame(
    np.empty_like(data_good), columns=["name", "categories", "amount"],
)
data_with_all_nan[:] = np.nan

# with all duplicates
data_with_all_duplicates = pd.concat([data_good.iloc[0:1,:]]*5,ignore_index=True)

# with empty df
data_empty = pd.DataFrame(columns=["name", "categories", "amount"],)

# with more columns
data_more_columns = data_good.copy(deep=True)
data_more_columns["extra_column"] = data_good.iloc[:,1]

# with less columns
data_less_columns = data_good.copy(deep=True)
data_less_columns.drop("categories", axis=1, inplace=True)

# data_more_columns
# data_good
# data_with_duplicates
# data_with_all_nan
# data_empty
# data_less_columns
# data_with_all_duplicates

In [18]:
data_good

,name,categories,amount
0,"Carbon dioxide, fossil",air,3.53e-13
1,"Ethane, chloropentafluoro-, CFC-115",air,7.43e-09
2,"Carbon monoxide, fossil",air,2.74e-13
3,"Carbon monoxide, fossil","air::low population density, long-term",2.74e-13
4,"Carbon monoxide, non-fossil",air,2.74e-13
5,Methane,air::urban air close to ground,1.59e-12

In [34]:
data_good["amount"] = pd.to_numeric(data_good['amount'], errors='coerce')#.notnull().all()
data_good

,name,categories,amount
0,"Carbon dioxide, fossil",air,NaN
1,"Ethane, chloropentafluoro-, CFC-115",air,7.430000e-09
2,"Carbon monoxide, fossil",air,2.740000e-13
3,"Carbon monoxide, fossil","air::low population density, long-term",2.740000e-13
4,"Carbon monoxide, non-fossil",air,2.740000e-13
5,Methane,air::urban air close to ground,1.590000e-12

In [32]:
data_good

,name,categories,amount
0,"Carbon dioxide, fossil",air,tt3.53e-13
1,"Ethane, chloropentafluoro-, CFC-115",air,7.43e-09
2,"Carbon monoxide, fossil",air,2.74e-13
3,"Carbon monoxide, fossil","air::low population density, long-term",2.74e-13
4,"Carbon monoxide, non-fossil",air,2.74e-13
5,Methane,air::urban air close to ground,1.59e-12

In [46]:
data_empty[data_empty.duplicated(keep="first")].empty

True

In [7]:
data_less_columns

,name,categories,amount,extra_column
0,"Carbon dioxide, fossil",air,tt3.53e-13,air
1,"Ethane, chloropentafluoro-, CFC-115",air,7.43e-09,air
2,"Carbon monoxide, fossil",air,2.74e-13,air
3,"Carbon monoxide, fossil","air::low population density, long-term",2.74e-13,"air::low population density, long-term"
4,"Carbon monoxide, non-fossil",air,2.74e-13,air
5,Methane,air::urban air close to ground,1.59e-12,air::urban air close to ground

In [25]:
data = data_good
# data = data_with_duplicates
# data = data_with_all_nan
# data = data_empty
# data = data_more_columns
# data = data_less_columns
# data = data_with_all_duplicates


logging.basicConfig(format="%(levelname)s: %(message)s", level=logging.DEBUG)


assert {"name", "categories", "amount"}.issubset(
    data.columns
), "Data must contain 'name', 'categories' and 'amount' column labels."
data = data[["name", "categories", "amount"]]

missing = data[data.isna().any(axis=1)]
if missing.empty:
    clean_data = data
else:
    clean_data = data.dropna(axis=0, how="any")
    if not missing.isna().values.all():
        message_missing = (
            f"Data is missing in {filename} (see below incomplete sets):\n"
        )
        message_missing += missing.to_markdown(
            index=False, tablefmt="pretty", stralign="left"
        )
        message_missing += "\nNote: These sets will be omitted."
        logging.warning(message_missing)
if clean_data.empty:
    raise ValueError(f"Data in {filename} is not valid.")

duplicates = clean_data[
    clean_data.duplicated(subset=["name", "categories", "amount"], keep="first")
]
if duplicates.empty:
    sanitized_data = clean_data
else:
    message_duplicate = f"Duplicated flows found in {filename} (see below):\n"
    message_duplicate += duplicates.to_markdown(
        index=False, tablefmt="pretty", stralign="left"
    )
    message_duplicate += "\nNote: All duplicates will be removed."
    logging.warning(message_duplicate)
    sanitized_data = clean_data.drop_duplicates(keep="first", ignore_index=True)

In [26]:
sanitized_data

,name,categories,amount
0,"Carbon dioxide, fossil",air,tt3.53e-13
1,"Ethane, chloropentafluoro-, CFC-115",air,7.43e-09
2,"Carbon monoxide, fossil",air,2.74e-13
3,"Carbon monoxide, fossil","air::low population density, long-term",2.74e-13
4,"Carbon monoxide, non-fossil",air,2.74e-13
5,Methane,air::urban air close to ground,1.59e-12

In [21]:
EXCEL_PATH = Path(
    ROOT_DIR + r"/data/temp" + r"/aesa_ClimateChange_EnergyImbalance.xlsx"
)
# JSON_PATH =  Path(
#     ROOT_DIR + r"/data/temp" + r"/trial.json"
# )
YAML_PATH =  Path(
    ROOT_DIR + r"/data/temp" + r"/trial.yaml"
)
EXCEL_PATH_TRIAL = Path(
    ROOT_DIR + r"/data/temp" + r"/trial.xlsx"
)

In [24]:
EXCEL_PATH.name

'aesa_ClimateChange_EnergyImbalance.xlsx'

In [15]:
p = Path(ROOT_DIR + r"/data/temp")
p.mkdir(parents=True, exist_ok=True)

In [8]:
convert.to_excel(outfilepath=r"C:\Users\vtulus\Documents\00-ETH_projects\AESAmethods\data\tempos\trial.xlsx")

InvalidDirectory: C:\Users\vtulus\Documents\00-ETH_projects\AESAmethods\data\tempos is not valid.

In [14]:
import pandas as pd
import yaml
from project_path import ROOT_DIR

In [15]:
df_ccei = pd.read_excel(EXCEL_PATH)

In [16]:
df_ccei.columns

Index(['name', 'categories', 'amount'], dtype='object')

In [17]:
assert sorted(list(df_ccei.columns)) == sorted(
    ["name", "categories", "amount"]
), "Excel file must contain only 'name', 'categories' and 'amount' columns."

In [18]:
# result = df_ccei.to_json(JSON_PATH, orient="table")
# result = df_ccei.to_json(orient="records", double_precision=15)
result = df_ccei.to_dict(orient="records")

In [66]:
parsed = json.loads(result)

In [67]:
# parsed

In [19]:
class DumperBlankLine(yaml.SafeDumper):
    # HACK: insert blank lines between top-level objects
    # inspired by https://github.com/yaml/pyyaml/issues/127#issuecomment-525800484
    def write_line_break(self, data=None):
        super().write_line_break(data)

        if len(self.indents) == 1:
            super().write_line_break()

In [20]:
with open(YAML_PATH, "w") as file:
    # yaml.safe_dump(
     yaml.dump(
        result,
        file,
        Dumper=DumperBlankLine,
        default_flow_style=False,
        default_style=None,
        sort_keys=False,
        indent=None,
    )

In [25]:
with open(YAML_PATH, "r") as file:
    loaded = yaml.safe_load(file)

In [26]:
df_loaded = pd.DataFrame(loaded, columns=["name", "categories", "amount"])

In [32]:
df_loaded.drop_duplicates(subset=["name", "categories", "amount"], keep="first", ignore_index=True)

,name,categories,amount
0,"Carbon dioxide, fossil",air,3.530000e-13
1,"Carbon dioxide, fossil","air::low population density, long-term",3.530000e-13
2,"Carbon dioxide, fossil",air::lower stratosphere + upper troposphere,3.530000e-13
3,"Carbon dioxide, fossil",air::non-urban air or from high stacks,3.530000e-13
4,"Carbon dioxide, fossil",air::urban air close to ground,3.530000e-13
...,...,...,...
93,Sulfur hexafluoride,air,6.710000e-08
94,Sulfur hexafluoride,"air::low population density, long-term",6.710000e-08
95,Sulfur hexafluoride,air::lower stratosphere + upper troposphere,6.710000e-08
96,Sulfur hexafluoride,air::non-urban air or from high stacks,6.710000e-08
97,Sulfur hexafluoride,air::urban air close to ground,6.710000e-08

In [31]:
df_loaded.fillna("dahdah", inplace=True)

In [214]:
df_loaded.iloc[0,0] = np.nan
df_loaded

,name,categories,amount
0,NaN,airos,3.530000e-13
1,"Carbon dioxide, fossil","air::low population density, long-term",3.530000e-13
2,"Carbon dioxide, fossil",air::lower stratosphere + upper troposphere,3.530000e-13
3,"Carbon dioxide, fossil",air::non-urban air or from high stacks,3.530000e-13
4,"Carbon dioxide, fossil",air::urban air close to ground,3.530000e-13
...,...,...,...
93,Sulfur hexafluoride,air,6.710000e-08
94,Sulfur hexafluoride,"air::low population density, long-term",6.710000e-08
95,Sulfur hexafluoride,air::lower stratosphere + upper troposphere,6.710000e-08
96,Sulfur hexafluoride,air::non-urban air or from high stacks,6.710000e-08
97,Sulfur hexafluoride,air::urban air close to ground,6.710000e-08

In [185]:
df_loaded.isna().values.any()

True

In [178]:
import warnings

In [215]:
if df_loaded.isna().values.any():
    df_clean = df_loaded.dropna(axis=0, how="any")
    warnings.warn(f"\n\nSome data are missing in {YAML_PATH}.\nRows with incomplete data are removed.\n")
else:
    df_clean = df_loaded
df_clean

C:\Users\vtulus\AppData\Local\Temp\ipykernel_11884\2120660221.py:3: UserWarning:

Some data are missing in C:\Users\vtulus\Documents\00-ETH_projects\AESAmethods\data\temp\trial.yaml.
Rows with incomplete data are removed.

  warnings.warn(f"\n\nSome data are missing in {YAML_PATH}.\nRows with incomplete data are removed.\n")

,name,categories,amount
1,"Carbon dioxide, fossil","air::low population density, long-term",3.530000e-13
2,"Carbon dioxide, fossil",air::lower stratosphere + upper troposphere,3.530000e-13
3,"Carbon dioxide, fossil",air::non-urban air or from high stacks,3.530000e-13
4,"Carbon dioxide, fossil",air::urban air close to ground,3.530000e-13
5,"Carbon dioxide, from soil or biomass stock",air,3.530000e-13
...,...,...,...
93,Sulfur hexafluoride,air,6.710000e-08
94,Sulfur hexafluoride,"air::low population density, long-term",6.710000e-08
95,Sulfur hexafluoride,air::lower stratosphere + upper troposphere,6.710000e-08
96,Sulfur hexafluoride,air::non-urban air or from high stacks,6.710000e-08
97,Sulfur hexafluoride,air::urban air close to ground,6.710000e-08

In [210]:
df_clean.empty

True

In [94]:
with pd.ExcelWriter(EXCEL_PATH_TRIAL, mode="w", engine="openpyxl") as writer:
    df_ccei.to_excel(writer, index=False)

In [99]:
EXCEL_PATH_TRIAL.suffix

'.xlsx'

In [216]:
type(EXCEL_PATH_TRIAL)

pathlib.WindowsPath

In [227]:
add = EXCEL_PATH_TRIAL.resolve()

In [235]:
add.stem

'trial'

In [243]:
Path(str(EXCEL_PATH) + f"/{add.stem}.yaml")

(WindowsPath('C:/Users/vtulus/Documents/00-ETH_projects/AESAmethods/data/temp/aesa_ClimateChange_EnergyImbalance.xlsx'),
 WindowsPath('/trial.yaml'))

In [254]:
print(
    f"\n\nSome data are missing in {EXCEL_PATH_TRIAL}."
    "\nRows with incomplete data are removed.\n")

Some data are missing in C:\Users\vtulus\Documents\00-ETH_projects\AESAmethods\data\temp\trial.xlsx.
Rows with incomplete data are removed.